.alert {
    padding: 20px 42px;
    &.alert-error {
        background: #f5c5c5;
        color: #724242;
    }
    &.alert-success {
        background: #e1f0ae;
        color: #809440;
    }
    &.alert-warning {
        background: #fcf3c0;
        color: #c5b557;
    }
    &.alert-info {
        background: #e8faff;
        color: #6e7d81;
    }
}
