.notification {
    padding: 20px 42px;
    border-bottom: 1px solid #dedede;

    button {
        background: none;
        border: 0;
        margin: 0;
        padding: 0;
    }

    &.info {
        background: #2288aa;
    }

    &.success {
        background: #e1f95e;
        color: #839811;
        border-color: #cce253;

        & button {
            color: #839811;
            float: right;
        }
    }
}
