.button {
    margin: 0;
    padding: 0;
    background: #57B3FF;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;

    .fa {
        margin-right: 8px;
    }
}

.button-secondary {
    background: #ddd;
    color: #777;
}

.button.big {
    height: 36px;
    border-radius: 18px;
    line-height: 36px;
    font-size: 14px;
    padding: 0 20px;
}

.button.medium {
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 16px;
}

.button.small {
    height: 26px;
    line-height: 26px;
    border-radius: 13px;
    font-size: 12px;
    padding: 0 16px;
}

.button.button-icon-only {
    .fa {
        margin: 0;
    }
}

.button.button-header {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.6);
    height: 36px;
    line-height: 32px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px;

    &:hover {
        border-color: #fff;
    }

    .fa {
        font-size: 18px;
        vertical-align: middle;
        margin-right: 8px;
        font-weight: normal;
        width: 18px;
        height: 18px;
        text-align: center;
    }
}

