.icon {
    display: inline-block;
}

.icon-images { background: url('../../images/icons/images.png'); }
.icon-images-dark, .icons-dark .icon-images { background: url('../../images/icons/images-dark.png'); }

.icon-history { background: url('../../images/icons/history.png'); }
.icon-history-dark, .icons-dark .icon-history { background: url('../../images/icons/history-dark.png'); }
