.sectiontitle {
    background: #F5F5F5;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    height: 48px;
    line-height: 48px;
    padding: 0 42px;
    font-weight: 600;
    color: #333;

    &:first-of-type {
        border-top: 0;
    }
}
