table {
    width: 100%;
    border-spacing: 0;
    .fa {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 10px;
    }
    thead {
        background: #f5f5f5;
        th {
            text-align: left;
            font-weight: 600;
            font-size: 12px;
            color: #AAAAAA;
            border-bottom: 1px solid #d6d6d6;
            white-space: nowrap;
        }
    }
    tbody tr:not(.load-more):nth-child(even) {
        background: #f5f5f5;
    }
    tbody tr:not(.table-footer):last-child td {
        border: 0;
    }
    td {
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        text-overflow: ellipsis;
    }
    tr.table-footer td {
        background: #f5f5f5;
        border-top: 1px solid #d6d6d6;
    }
    .table-loading-row {
        text-align: center;
        color: #aaa;
    }
}

table.wide {
    thead {
        tr {
            height: 49px;
            line-height: 49px;
        }
    }
    th {
        padding: 0 22px;
        &:first-child {
            padding-left: 42px;
        }
        &:last-child {
            padding-right: 42px;
        }
        &.table-actions-column {
            text-align: center;
            .table-actions-menu {
                padding: 0 20px;
                text-align: center;
                .fa {
                    margin: 0;
                    line-height: 51px;
                    height: 49px;
                }
            }
        }
    }
    td {
        padding: 0 22px;
        height: 59px;
        line-height: 59px;
        border-bottom: 1px solid #d6d6d6;
        &:first-child {
            padding-left: 42px;
        }
        &:last-child {
            padding-right: 42px;
        }
    }
}

table.table-inline {
    border: 1px solid #dedede;
    border-radius: 4px;
    thead tr {
        height: 42px;
        line-height: 42px;
        th {
            padding: 0;
            padding-left: 14px;
            &:last-child {
                padding-right: 14px;
            }
        }
    }
    tbody tr {
        height: 58px;
        td {
            padding: 10px 0;
            padding-left: 14px;
        }
        &.table-footer {
            height: 42px;
        }
    }
}

.table-link {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

table.big-shadow tbody tr:last-child {
    box-shadow: 0 15px 32px 0 rgba(0, 0, 0, 0.15), 0 4px 6px 0 rgba(0, 0, 0, 0.17), 0 1px 0 0 #CFCFCF;
}
